/* Table.module.css */

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .table th,
  .table td {
    border: 1.1px solid #c1c9d3;
    padding: 1rem 1rem;
  }
  
  .table th {
    background-color: #f7fafc;
    text-align: left;
  }
  
  .table th span {
    margin-left: 5px;
  }
  
  .pagination {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .pagination button {
    background-color: #00ADB5;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 8px

  }
  
  .pagination button:disabled {
    background-color: #cbd5e0;
    cursor: not-allowed;
  }
  